body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4.11rem;
  line-height: 1;
  letter-spacing: -0.67px;
  font-weight: 400;
}
.display-1 > .mbr-iconfont {
  font-size: 5.1375rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.56rem;
  line-height: 1.05;
  letter-spacing: -0.58px;
  font-weight: 400;
}
.display-2 > .mbr-iconfont {
  font-size: 4.45rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.68;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.33rem;
  line-height: 1.2;
  letter-spacing: -0.38px;
  font-weight: 400;
}
.display-5 > .mbr-iconfont {
  font-size: 2.9125rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.68;
  font-weight: 400;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.288rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.877rem;
    font-size: calc( 2.0885000000000002rem + (4.11 - 2.0885000000000002) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.0885000000000002rem + (4.11 - 2.0885000000000002) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.848rem;
    font-size: calc( 1.896rem + (3.56 - 1.896) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.896rem + (3.56 - 1.896) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.864rem;
    font-size: calc( 1.4655rem + (2.33 - 1.4655) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4655rem + (2.33 - 1.4655) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
@keyframes scale-in {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@keyframes scale-out {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}
.btn {
  padding: 1rem 2rem;
  border-radius: 0;
}
.btn-sm {
  padding: 0.75rem 1rem;
  border-radius: 0;
}
.btn-md {
  padding: 1rem 2rem;
  border-radius: 0;
}
.btn-lg {
  padding: 1rem 2rem;
  border-radius: 0;
}
.bg-primary {
  background-color: #f28b00 !important;
}
.btn-secondary {
  background-color: #484848 !important;
}
.bg-success {
  background-color: #e5e5e5 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #f92400 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f28b00 !important;
  border-color: #f28b00 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background: #ffffff !important;
  color: #333333 !important;
  border-color: #ffffff !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #484848 !important;
  border-color: #484848 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  background: #f92400 !important;
  color: #ffffff !important;
  border-color: #f92400 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f92400 !important;
  border-color: #f92400 !important;
}
.btn-info,
.btn-info:active {
  background-color: #f28b00 !important;
  border-color: #f28b00 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  background: #484848 !important;
  color: #ffffff !important;
  border-color: #484848 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-success,
.btn-success:active {
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
  color: #191919 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  background: #f28b00 !important;
  color: #ffffff !important;
  border-color: #f28b00 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #191919 !important;
  background-color: #f28b00 !important;
  border-color: #f28b00 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f92400 !important;
  border-color: #f92400 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  background: #e5e5e5 !important;
  color: #191919 !important;
  border-color: #e5e5e5 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #333333 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  background: #e5e5e5 !important;
  color: #191919 !important;
  border-color: #e5e5e5 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #333333 !important;
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  background: #000000 !important;
  color: #ffffff !important;
  border-color: #000000 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  background: #ffffff !important;
  color: #333333 !important;
  border-color: #ffffff !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f28b00;
  color: #f28b00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #f28b00 !important;
  border-color: #f28b00 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f28b00 !important;
  border-color: #f28b00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #484848;
  color: #484848;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-info-outline {
  color: #f28b00 !important;
  background: transparent !important;
  border: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: .25rem !important;
  position: relative;
  font-weight: 500 !important;
  transition: color 0.25s cubic-bezier(0.28, 0.44, 0.49, 1);
}
.btn-info-outline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  will-change: transform;
  background-color: #f28b00;
}
.btn-info-outline:hover {
  background-color: transparent !important;
  color: #f92400 !important;
}
.btn-info-outline:active {
  outline: none;
}
.btn-info-outline:hover:after {
  background-color: #f92400;
  animation: scale-out 0.25s cubic-bezier(0.28, 0.44, 0.49, 1) 0s forwards, scale-in 0.25s cubic-bezier(0.28, 0.44, 0.49, 1) 0.25s forwards;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #e5e5e5;
  color: #e5e5e5;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #666666 !important;
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #666666 !important;
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5 !important;
}
.btn-warning-outline {
  color: #f92400 !important;
  background: transparent !important;
  border: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: .25rem !important;
  position: relative;
  font-weight: 500 !important;
  transition: color 0.25s cubic-bezier(0.28, 0.44, 0.49, 1);
}
.btn-warning-outline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  will-change: transform;
  background-color: #f92400;
}
.btn-warning-outline:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
.btn-warning-outline:active {
  outline: none;
}
.btn-warning-outline:hover:after {
  background-color: #ffffff;
  animation: scale-out 0.25s cubic-bezier(0.28, 0.44, 0.49, 1) 0s forwards, scale-in 0.25s cubic-bezier(0.28, 0.44, 0.49, 1) 0.25s forwards;
}
.btn-danger-outline {
  color: #f28b00 !important;
  background: transparent !important;
  border: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: .25rem !important;
  position: relative;
  font-weight: 500 !important;
  transition: color 0.25s cubic-bezier(0.28, 0.44, 0.49, 1);
}
.btn-danger-outline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  will-change: transform;
  background-color: #f28b00;
}
.btn-danger-outline:hover {
  background-color: transparent !important;
  color: #484848 !important;
}
.btn-danger-outline:active {
  outline: none;
}
.btn-danger-outline:hover:after {
  background-color: #484848;
  animation: scale-out 0.25s cubic-bezier(0.28, 0.44, 0.49, 1) 0s forwards, scale-in 0.25s cubic-bezier(0.28, 0.44, 0.49, 1) 0.25s forwards;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f28b00 !important;
}
.text-secondary {
  color: #484848 !important;
}
.text-success {
  color: #e5e5e5 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #f92400 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #f28b00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #484848 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #e5e5e5 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #f92400 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ffffff !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f28b00;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #f92400;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f28b00;
  border-color: #f28b00;
  color: #ffffff;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f28b00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffe4bf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffcec6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.68;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:-webkit-input-placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.68;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #f28b00;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 50px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 50px !important;
  padding: 1rem 3rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f28b00;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f28b00;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f28b00;
  border-bottom-color: #f28b00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f28b00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #484848 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f28b00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sgSlEYA9q5 .navbar {
  background: #f28b00;
  transition: none;
  min-height: 77px;
  padding: 0.5rem 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.cid-sgSlEYA9q5 .navbar-dropdown.bg-color.transparent.opened {
  background: #f28b00;
}
.cid-sgSlEYA9q5 a {
  font-style: normal;
}
.cid-sgSlEYA9q5 .navbar-buttons {
  flex-wrap: wrap;
}
.cid-sgSlEYA9q5 .show {
  overflow: visible;
}
.cid-sgSlEYA9q5 .dropdown-menu {
  max-height: 400px;
  overflow: auto;
}
.cid-sgSlEYA9q5 .dropdown-item:active {
  background-color: transparent;
}
.cid-sgSlEYA9q5 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-sgSlEYA9q5 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 1.25rem !important;
  -webkit-align-items: center;
}
.cid-sgSlEYA9q5 .nav-item:focus,
.cid-sgSlEYA9q5 .nav-link:focus {
  outline: none;
}
.cid-sgSlEYA9q5 .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sgSlEYA9q5 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-sgSlEYA9q5 .menu-logo {
  margin-right: auto;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  width: auto;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-sgSlEYA9q5 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-sgSlEYA9q5 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  padding-right: 1rem;
  max-width: 100%;
  width: 100%;
}
.cid-sgSlEYA9q5 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-sgSlEYA9q5 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sgSlEYA9q5 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-sgSlEYA9q5 .navbar-toggleable-sm .navbar-collapse {
  justify-content: space-between !important;
}
.cid-sgSlEYA9q5 .dropdown .dropdown-menu {
  background: #f28b00;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-sgSlEYA9q5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-sgSlEYA9q5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sgSlEYA9q5 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-sgSlEYA9q5 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sgSlEYA9q5 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: none;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-sgSlEYA9q5 .navbar.navbar-short {
  min-height: 60px;
  transition: all 0.2s;
}
.cid-sgSlEYA9q5 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-sgSlEYA9q5 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-sgSlEYA9q5 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-sgSlEYA9q5 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
  width: auto;
}
.cid-sgSlEYA9q5 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-sgSlEYA9q5 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  top: 1.5rem;
  right: 1rem;
  position: absolute;
}
.cid-sgSlEYA9q5 button.navbar-toggler:focus {
  outline: none;
}
.cid-sgSlEYA9q5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sgSlEYA9q5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sgSlEYA9q5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgSlEYA9q5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgSlEYA9q5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sgSlEYA9q5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgSlEYA9q5 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sgSlEYA9q5 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sgSlEYA9q5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
@media (min-width: 992px) {
  .cid-sgSlEYA9q5 .navbar:not(.collapsed) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.cid-sgSlEYA9q5 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sgSlEYA9q5 .collapsed .btn {
  display: -webkit-flex;
}
.cid-sgSlEYA9q5 .collapsed .outstanding {
  display: -webkit-flex;
  padding: 0.7rem 0 !important;
  margin: 0rem 1.25rem !important;
  -webkit-align-items: center;
}
.cid-sgSlEYA9q5 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.collapsing,
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.show {
  display: block !important;
  overflow: auto;
}
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-sgSlEYA9q5 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sgSlEYA9q5 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 90.625vh;
  }
}
.cid-sgSlEYA9q5 .collapsed button.navbar-toggler {
  display: block;
}
.cid-sgSlEYA9q5 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-sgSlEYA9q5 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sgSlEYA9q5 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-sgSlEYA9q5 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-sgSlEYA9q5 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-sgSlEYA9q5 .collapsed .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
@media (max-width: 991px) {
  .cid-sgSlEYA9q5.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sgSlEYA9q5 img {
    height: 3.8rem !important;
  }
  .cid-sgSlEYA9q5 .btn {
    display: -webkit-flex;
  }
  .cid-sgSlEYA9q5 button.navbar-toggler {
    display: block;
  }
  .cid-sgSlEYA9q5 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-sgSlEYA9q5 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sgSlEYA9q5 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-sgSlEYA9q5 .navbar-collapse.collapsing,
  .cid-sgSlEYA9q5 .navbar-collapse.show {
    display: block !important;
    overflow: auto;
  }
  .cid-sgSlEYA9q5 .navbar-collapse.collapsing .navbar-nav,
  .cid-sgSlEYA9q5 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-sgSlEYA9q5 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-sgSlEYA9q5 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-sgSlEYA9q5 .navbar-collapse.collapsing .navbar-buttons,
  .cid-sgSlEYA9q5 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-sgSlEYA9q5 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-sgSlEYA9q5 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-sgSlEYA9q5 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-sgSlEYA9q5 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-sgSlEYA9q5 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-sgSlEYA9q5 .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}
@media (max-width: 767px) {
  .cid-sgSlEYA9q5 .nav-link {
    justify-content: start !important;
  }
  .cid-sgSlEYA9q5 .navbar.opened {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cid-sgSlEYA9q5 .navbar-toggleable-sm {
    width: 100% !important;
  }
  .cid-sgSlEYA9q5 .dropdown-menu {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
    background: #efefef !important;
  }
}
@media (min-width: 767px) {
  .cid-sgSlEYA9q5 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-sgSlEYA9q5 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-sgSlEYA9q5 .nav-link:hover,
.cid-sgSlEYA9q5 .dropdown-item:hover {
  color: #000000 !important;
  opacity: .75;
}
.cid-sgSlEYA9q5 .nav-link:active,
.cid-sgSlEYA9q5 .dropdown-item:active {
  color: #f92400;
}
@media (min-width: 1500px) {
  .cid-sgSlEYA9q5 .navbar-toggleable-sm .navbar-collapse {
    max-width: 90% !important;
    padding-right: 5rem;
  }
  .cid-sgSlEYA9q5 .menu-logo .navbar-brand {
    margin-left: 5rem;
  }
}
.cid-sgSlEYA9q5 .outstanding {
  display: inline-block;
  padding: 0 2rem;
  vertical-align: middle;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-sgSlEYA9q5 .outstanding {
    padding: 0.7rem 0 !important;
    display: -webkit-flex;
    margin: 0rem 1.25rem !important;
    -webkit-align-items: center;
  }
}
.cid-sgSmWvbLuF {
  padding-top: 7rem;
  padding-bottom: 3rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-sgSmWvbLuF [class*="col"] {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.cid-sgSmWvbLuF .container-fluid {
  padding: 0 !important;
  margin: 3rem 0;
}
.cid-sgSmWvbLuF .carousel-item {
  justify-content: center;
  text-align: left;
  transition: none;
}
@media (min-width: 992px) {
  .cid-sgSmWvbLuF .carousel-item {
    width: calc(100% + 100% / 3);
    left: calc(-100% / (2 * 3));
    margin-right: calc(-100% - 100% / 3);
  }
}
.cid-sgSmWvbLuF .carousel-item .media-container-row {
  flex-grow: 1;
}
.cid-sgSmWvbLuF .carousel-item .slider__image {
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.cid-sgSmWvbLuF .carousel-item .slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}
.cid-sgSmWvbLuF .carousel-item .slider__image:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-sgSmWvbLuF .slider__content .slider__title {
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .cid-sgSmWvbLuF .slider__title {
    margin-left: 2rem;
  }
}
.cid-sgSmWvbLuF .carousel-item.active,
.cid-sgSmWvbLuF .carousel-item-next,
.cid-sgSmWvbLuF .carousel-item-prev {
  display: flex;
}
.cid-sgSmWvbLuF .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgSmWvbLuF .carousel-control-next,
.cid-sgSmWvbLuF .carousel-control-prev {
  opacity: 1 !important;
}
.cid-sgSmWvbLuF .carousel-control-next:hover,
.cid-sgSmWvbLuF .carousel-control-prev:hover {
  opacity: 1 !important;
}
.cid-sgSmWvbLuF .carousel-controls {
  width: 100%;
  position: absolute;
  z-index: 20;
  top: 43.3%;
  transform: translateY(-50%);
}
.cid-sgSmWvbLuF .carousel-controls a span {
  width: 95.7px;
  height: 95.7px;
  line-height: 75.7px;
  font-size: 20px;
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  background: #484848;
}
.cid-sgSmWvbLuF .carousel-controls a span:hover {
  transform: scale(1.07);
  transform-origin: center;
  transition: transform 0.2s ease 0s;
}
.cid-sgSmWvbLuF .col-lg-15 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sgSmWvbLuF .col-lg-15 {
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-sgSmWvbLuF .carousel-inner {
    padding-bottom: 3px;
  }
}
@media (max-width: 991px) {
  .cid-sgSmWvbLuF .carousel-item .slider__item {
    margin-right: 0;
  }
  .cid-sgSmWvbLuF .cloneditem-1,
  .cid-sgSmWvbLuF .cloneditem-2,
  .cid-sgSmWvbLuF .cloneditem-3 {
    display: none;
  }
}
@media (max-width: 767px) {
  .cid-sgSmWvbLuF .carousel-controls {
    display: none;
  }
  .cid-sgSmWvbLuF .mbr-text,
  .cid-sgSmWvbLuF .mbr-section-title {
    padding: 0 1rem;
  }
}
.cid-sgSmWvbLuF .slider__content .slider__title {
  color: #484848;
}
.cid-sgSmWvbLuF .mbr-section-title {
  color: #484848;
}
.cid-sgSoOQqFjV {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #e5e5e5;
}
.cid-sgSoOQqFjV .content-row {
  background-color: #ffffff;
  padding: 5rem;
}
@media (max-width: 767px) {
  .cid-sgSoOQqFjV .content-row {
    padding: 1rem;
  }
}
.cid-sgSoOQqFjV p {
  margin-bottom: 0rem;
}
.cid-sgSoOQqFjV .btn {
  margin-bottom: 0rem;
}
.cid-sgSoOQqFjV .mbr-section-title {
  margin-bottom: 20px;
}
.cid-sgSoOQqFjV .mbr-section-subtitle {
  opacity: 0.8;
  margin-bottom: 15px;
}
.cid-sgSoOQqFjV .mbr-section-btn {
  margin-right: 0rem;
}
@media (max-width: 767px) {
  .cid-sgSoOQqFjV .mbr-section-btn {
    text-align: left;
  }
  .cid-sgSoOQqFjV .btn {
    margin-left: 0rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-sgSoOQqFjV .mbr-section-btn {
    text-align: left;
  }
  .cid-sgSoOQqFjV .btn {
    margin-left: 0rem;
  }
}
@media (max-width: 991px) {
  .cid-sgSoOQqFjV .mbr-section-btn {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgSoOQqFjV .btn {
    margin-top: 0rem;
  }
}
.cid-sgSoOQqFjV H1 {
  text-align: left;
}
.cid-sgSoOQqFjV .mbr-text {
  text-align: left;
}
.cid-sgSyF0EE4Z {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sgSyF0EE4Z .section-header {
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .cid-sgSyF0EE4Z .section-header {
    margin-bottom: 4rem;
  }
}
.cid-sgSyF0EE4Z .item-title {
  text-align: left;
}
.cid-sgSyF0EE4Z img,
.cid-sgSyF0EE4Z .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sgSyF0EE4Z .item:focus,
.cid-sgSyF0EE4Z span:focus {
  outline: none;
}
.cid-sgSyF0EE4Z .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sgSyF0EE4Z .item-wrapper {
  position: relative;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sgSyF0EE4Z .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sgSyF0EE4Z .item-wrapper .item-footer {
    padding: 2rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sgSyF0EE4Z .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sgSyF0EE4Z .item-wrapper .item-footer {
    padding: 2rem 1rem 1rem;
  }
}
.cid-sgSyF0EE4Z .mbr-section-btn {
  margin-top: auto !important;
  padding-top: 2rem;
}
.cid-sgSyF0EE4Z .mbr-section-title {
  color: #232323;
}
.cid-sgSyF0EE4Z .mbr-text,
.cid-sgSyF0EE4Z .mbr-section-btn {
  text-align: left;
}
.cid-sgSyF0EE4Z .item-subtitle {
  color: #f28b00;
}
.cid-sgSsYuf1Xl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-sgSsYuf1Xl .mbr-iconfont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background-color: #f28b00;
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.cid-sgSsYuf1Xl .card {
  margin-bottom: 1.5rem;
}
.cid-sgSsYuf1Xl .card-wrapper {
  overflow: visible;
  padding: 3rem 2rem;
  background-color: #fff;
  border-width: 0 0 4px 0;
  border-style: solid;
}
.cid-sgSsYuf1Xl .card-wrapper-1 {
  border-color: #f28b00;
}
.cid-sgSsYuf1Xl .card-wrapper-2 {
  border-color: #eec39c;
}
.cid-sgSsYuf1Xl .card-wrapper-3 {
  border-color: #f28b00;
}
.cid-sgSsYuf1Xl .card-wrapper-4 {
  border-color: #419e8e;
}
.cid-sgSsYuf1Xl .card-title {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: block;
  margin-right: 1rem;
  padding-right: 2.5rem;
}
.cid-sgSsYuf1Xl .card-title:before {
  font-family: 'Moririse2';
  content: "\e96b";
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition-duration: .15s;
}
.cid-sgSsYuf1Xl .card-title:hover:before {
  right: -5px;
}
@media (max-width: 767px) {
  .cid-sgSsYuf1Xl .card-title:before {
    font-size: 1.5rem;
  }
}
.cid-sgSsYuf1Xl .card-text {
  color: #454545;
  text-align: left;
}
.cid-sgSsYuf1Xl .card-title,
.cid-sgSsYuf1Xl .icon-wrap {
  color: #484848;
  text-align: left;
}
.cid-sgSsYuf1Xl .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-sgSoTuntoX {
  padding-top: 30px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sgSoTuntoX .media-container-row {
    padding-bottom: 2rem;
  }
}
.cid-sgSoTuntoX .carousel-indicators {
  margin: 0 auto;
  padding: 3rem 0;
  align-items: center;
  position: relative;
}
.cid-sgSoTuntoX .carousel-indicators li {
  position: relative;
  display: block;
  text-indent: 0 !important;
  max-height: 60px !important;
  height: 60px !important;
  max-width: 25%;
  width: 60px !important;
  line-height: 60px !important;
  text-align: center;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  color: #e5e5e5;
  background: #fff;
  opacity: 1;
}
.cid-sgSoTuntoX .carousel-indicators li:not(:last-child) {
  margin-right: 240px;
}
@media (max-width: 991px) {
  .cid-sgSoTuntoX .carousel-indicators li:not(:last-child):not(:last-child) {
    margin-right: 150px;
  }
}
@media (max-width: 767px) {
  .cid-sgSoTuntoX .carousel-indicators li:not(:last-child):not(:last-child) {
    margin-right: 30px;
  }
}
.cid-sgSoTuntoX .carousel-indicators li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 61px;
  width: 244px;
  height: 2px;
  background-color: #e5e5e5;
}
@media (max-width: 991px) {
  .cid-sgSoTuntoX .carousel-indicators li:not(:first-child)::before {
    width: 153px;
  }
}
@media (max-width: 767px) {
  .cid-sgSoTuntoX .carousel-indicators li:not(:first-child)::before {
    width: 34px;
    right: 41px;
  }
}
.cid-sgSoTuntoX .carousel-indicators li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: #e5e5e5;
  width: 100%;
  height: 100%;
}
.cid-sgSoTuntoX .carousel-indicators .li1::after {
  content: "1";
}
.cid-sgSoTuntoX .carousel-indicators .li2::after {
  content: "2";
}
.cid-sgSoTuntoX .carousel-indicators .li3::after {
  content: "3";
}
.cid-sgSoTuntoX .carousel-indicators .li4::after {
  content: "4";
}
.cid-sgSoTuntoX li.active,
.cid-sgSoTuntoX li:active {
  opacity: 1;
  border-color: #f28b00;
}
.cid-sgSoTuntoX li.active:after,
.cid-sgSoTuntoX li:active:after {
  color: #f28b00;
}
.cid-sgSoTuntoX li.active:before,
.cid-sgSoTuntoX li:active:before {
  background-color: #f28b00 !important;
}
@media (max-width: 767px) {
  .cid-sgSoTuntoX .carousel-indicators li {
    line-height: 40px !important;
    height: 40px !important;
    width: 40px !important;
  }
  .cid-sgSoTuntoX .carousel-control-next {
    bottom: auto;
    top: 95%;
    right: 1rem;
  }
}
.cid-sgSoTuntoX .mbr-text {
  margin-top: 1rem;
}
.cid-sgSoTuntoX .mbr-section-title {
  margin-bottom: 1.5rem;
}
.cid-sgSoTuntoX .back {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 95%;
  background-color: #f28b00;
}
@media (max-width: 767px) {
  .cid-sgSoTuntoX .back {
    width: 100%;
    height: 105% !important;
  }
}
.cid-sgSoTuntoX .row-element,
.cid-sgSoTuntoX .image-element {
  padding: 0;
}
.cid-sgSoTuntoX .image-element {
  display: flex;
  height: 550px;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 3rem;
}
.cid-sgSoTuntoX .image-element img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-sgSoTuntoX .card-wrap {
  background-color: #fff;
  padding: 3rem 2.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .cid-sgSoTuntoX .card-wrap {
    width: calc(100% + 15rem);
    margin-left: -17.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sgSoTuntoX .card-wrap {
    margin: 2rem auto 0 auto;
    padding: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-sgSoTuntoX .card-wrap {
    margin-top: 1rem;
  }
}
.cid-sgSoTuntoX .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sgSoTuntoX .carousel-item.active,
.cid-sgSoTuntoX .carousel-item-next {
  display: flex;
}
.cid-sgSoTuntoX .carousel-control-next {
  opacity: 1;
  width: 45px;
  height: 45px;
}
.cid-sgSoTuntoX .mbr-iconfont {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgSoTuntoX .mbri-arrow-next::before {
  content: "\f054" !important;
}
.cid-sgSoTuntoX .carousel-controls a {
  transition: 0.3s;
  border-radius: 50%;
  border: 2px solid #f28b00;
  background-color: #f28b00;
}
.cid-sgSoTuntoX .carousel-controls a span {
  color: #ffffff;
  font-size: 1.1rem;
}
.cid-sgSoTuntoX .carousel-controls a:hover {
  transform: scale(1.05);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sgSoTuntoX .image-element {
    min-width: 50%;
  }
  .cid-sgSoTuntoX .media-container-row {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .cid-sgSoTuntoX .carousel-control-next {
    bottom: auto;
    top: 95%;
    right: 1.8rem;
  }
}
@media (min-width: 992px) {
  .cid-sgSoTuntoX .carousel-control-next {
    bottom: 2.3rem;
    top: 95%;
    right: 1.8rem;
  }
}
.cid-sgSoTuntoX .title-wrap {
  display: flex;
  justify-content: flex-end;
}
.cid-sgSoTuntoX .icon-left {
  margin-right: 0.1rem;
}
.cid-sgSoTuntoX .icon-right {
  margin-left: 0.1rem;
}
.cid-sgSoTuntoX H1 {
  text-align: left;
}
.cid-sgSoTuntoX .mbr-section-text,
.cid-sgSoTuntoX .mbr-section-btn {
  text-align: left;
}
.cid-sgSoLZomtJ {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #e5e5e5;
}
.cid-sgSoLZomtJ .mbr-iconfont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #000000;
  border-radius: 50%;
  margin-right: 13.5px;
}
.cid-sgSoLZomtJ .card {
  margin-bottom: 1.5rem;
}
.cid-sgSoLZomtJ .card-wrapper {
  padding: 3rem 2rem;
  background-color: transparent;
}
.cid-sgSoLZomtJ .card-top {
  display: flex;
  align-items: center;
}
.cid-sgSoLZomtJ .card-text {
  color: #000000;
  text-align: left;
  margin-bottom: 1.5rem;
}
.cid-sgSoLZomtJ .card-title,
.cid-sgSoLZomtJ .icon-wrap {
  color: #000000;
  text-align: left;
}
.cid-sgSoLZomtJ .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-sgSoWhE0Cp {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sgSoWhE0Cp .fade-in-up {
  animation: fade-in-up 0.2s ease-in-out forwards;
}
.cid-sgSoWhE0Cp .mbr-text {
  animation-delay: .2s;
  margin-top: 1.5rem;
  text-align: left;
}
.cid-sgSoWhE0Cp .mbr-section-btn {
  margin-top: 2rem;
  animation-delay: .2s;
}
.cid-sgSoWhE0Cp .box2 {
  background-image: url("../../../assets/images/033.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.cid-sgSoWhE0Cp .icon-wrap {
  background-color: #ffffff !important;
  border-radius: 50%;
  width: 73.5px;
  height: 73.5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.cid-sgSoWhE0Cp .icon-wrap:hover {
  transform: scale(1.1);
}
.cid-sgSoWhE0Cp .icon-wrap span {
  padding-left: 8px;
}
.cid-sgSoWhE0Cp .mbr-media span {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #000000 !important;
}
.cid-sgSoWhE0Cp .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-sgSoWhE0Cp .text-wrapper {
  max-width: 24rem;
}
@media (max-width: 991px) {
  .cid-sgSoWhE0Cp .text-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgSoWhE0Cp .text-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.cid-sgSoWhE0Cp .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-sgSoWhE0Cp .modalWindow .modalWindow-container {
  transform: translateY(50vh) translateY(-22vw);
}
.cid-sgSoWhE0Cp .modalWindow .modalWindow-video {
  height: 44.9943757vw;
  width: 80vw;
  margin: 0 auto;
}
.cid-sgSoWhE0Cp a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-sgSoWhE0Cp a.close:hover {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-sgSoWhE0Cp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .cid-sgSoWhE0Cp {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .cid-sgSoWhE0Cp .box2 {
    height: 250px;
  }
}
.cid-sgSoWhE0Cp .mbr-section-subtitle {
  text-align: left;
  color: #000000;
}
.cid-sgSoWhE0Cp .mbr-text,
.cid-sgSoWhE0Cp .mbr-section-btn {
  text-align: left;
}
.cid-sgSoZHg9Zb {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-sgSoZHg9Zb input::-webkit-input-placeholder,
.cid-sgSoZHg9Zb textarea::-webkit-input-placeholder {
  opacity: .5;
}
.cid-sgSoZHg9Zb input:-moz-placeholder,
.cid-sgSoZHg9Zb textarea:-moz-placeholder {
  opacity: .5;
}
.cid-sgSoZHg9Zb .form-block {
  background-color: #e5e5e5 !important;
}
.cid-sgSoZHg9Zb .form-control {
  background-color: #e5e5e5;
  border-bottom: 1px solid #484848 !important;
  padding-left: .75rem;
  color: #484848;
}
.cid-sgSoZHg9Zb .form-control:focus,
.cid-sgSoZHg9Zb .form-control:hover {
  border-bottom: 1px solid #f28b00 !important;
  background-color: #f5f9fc;
}
.cid-sgSoZHg9Zb input::-webkit-input-placeholder,
.cid-sgSoZHg9Zb textarea::-webkit-input-placeholder {
  color: #484848;
}
.cid-sgSoZHg9Zb input:-moz-placeholder,
.cid-sgSoZHg9Zb textarea:-moz-placeholder {
  color: #484848;
}
.cid-sgSoZHg9Zb .jq-selectbox li,
.cid-sgSoZHg9Zb .jq-selectbox li {
  background-color: #e5e5e5;
  color: #000000;
}
.cid-sgSoZHg9Zb .jq-selectbox li:hover,
.cid-sgSoZHg9Zb .jq-selectbox li.selected {
  background-color: #f5f9fc;
  color: #000000;
}
.cid-sgSoZHg9Zb .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #e5e5e5;
}
.cid-sgSoZHg9Zb .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f5f9fc;
}
.cid-sgSoZHg9Zb a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-sgSoZHg9Zb .input-group-btn {
  display: block;
  width: 100%;
  text-align: center;
}
.cid-sgSoZHg9Zb .input-group-btn .btn-form {
  width: 100%;
}
.cid-sgSoZHg9Zb .form-block {
  padding: 75px 50px 35px 50px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sgSoZHg9Zb .form-block {
    padding: 1rem;
  }
}
.cid-sgSoZHg9Zb textarea.form-control {
  resize: none;
}
.cid-sgSoZHg9Zb .media-container-row {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cid-sgSoZHg9Zb .mbr-section-title {
  margin-bottom: 68px;
}
.cid-sgSoZHg9Zb .privacy {
  margin-top: 50px;
  color: #8e909b;
  text-align: left;
}
.cid-sgSoZHg9Zb .privacy p {
  padding: 10px;
  margin-bottom: 0;
}
.cid-sgSp10p89F {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #484848;
}
.cid-sgSp10p89F .social-row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .cid-sgSp10p89F .social-row {
    justify-content: center;
  }
  .cid-sgSp10p89F .social-row .soc-item {
    margin-right: 0;
    margin: 0 .5rem .5rem 0;
  }
}
.cid-sgSp10p89F .mbr-section-subtitle {
  text-align: left;
  color: #f28b00;
}
.cid-sgSp10p89F a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgSp10p89F .addres-list li {
  font-weight: 500;
  margin-bottom: 0;
}
.cid-sgSp10p89F .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #f28b00;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  height: 3.2rem;
  width: 3.2rem;
}
.cid-sgSp10p89F .soc-item:hover .mbr-iconfont {
  color: #f28b00;
}
.cid-sgSp10p89F .list {
  list-style: none;
  padding-left: 0;
  margin-top: 1.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-sgSp10p89F .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgSp10p89F .list {
    margin-bottom: 0rem;
  }
}
.cid-sgSp10p89F .mbr-iconfont {
  transition: color 0.3s;
  color: #f28b00;
  font-size: 1.2rem;
}
.cid-sgSp10p89F .addres-list {
  text-align: left;
}
.cid-sgSp10p89F li {
  margin-bottom: .5rem;
}
.cid-sgSp10p89F li:hover {
  opacity: .75;
}
.cid-sgSp10p89F .privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  margin-top: 4rem;
  border-top: 2px solid #444;
}
.cid-sgSp10p89F SPAN {
  text-align: left;
}
.cid-sgSp10p89F .privacy-text {
  text-align: left;
}
.cid-tdIr7brm0O {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
.cid-sgTa8gUoV5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sgTa8gUoV5 .google-map {
  height: 24rem;
  position: relative;
}
.cid-sgTa8gUoV5 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sgTa8gUoV5 .google-map [data-state-details] {
  color: #6b6763;
  font-family: 'PT Sans';
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sgTa8gUoV5 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sgTa8gUoV5 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (min-width: 768px) {
  .cid-sgTa8gUoV5 .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-sgTa8gUoV5 .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-sgTa8gUoV5 .google-map {
    padding-bottom: 2rem;
  }
}
.cid-sgTa8gUoV5 .card-wrap {
  background-color: #ffffff;
  padding: 3rem 2.5rem;
}
@media (min-width: 992px) {
  .cid-sgTa8gUoV5 .card-wrap {
    width: calc(100% + 10rem);
    margin-left: -10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-sgTa8gUoV5 .card-wrap {
    margin: auto;
    padding: 1rem;
  }
}
.cid-sgTa8gUoV5 H2 {
  text-align: left;
}
.cid-sgTa8gUoV5 .mbr-section-text,
.cid-sgTa8gUoV5 .mbr-section-btn {
  text-align: left;
}
.cid-sgTa8gUoV5 .mbr-section-btn {
  margin-top: 2rem;
}
.cid-sgTa8gUoV5 .mbr-card-title {
  text-align: left;
}
